@tailwind base;
@tailwind components;
@tailwind utilities;

/* h-full bod and html for error page*/
html,
body {
  height: 100%;
  background-color: white;
}

footer {
  position: absolute;
  bottom: 0;
}